<!DOCTYPE html>
<html>
	<head>
		<title>Edit <%=jaunt.title%></title>
	</head>
	<body>
		<nav>
			<a href='/'>Home</a> | <a hef='/Users'>User</a> | <a href='/jaunts'>Jaunts</a>
		</nav>
		<h1>Edit <%=jaunt.title%></h1>
		<form action='/jaunts' method='post'>
			Title: <input type="text" name="title" value="<%=jaunt.title%>"/><br/>
			Google Map Url: <input type="text" name="location" value="<%=jaunt.location%>"/><br/>
			Description: <input type='text' name='description' value="<%=jaunt.description%>"/><br/>
			Photo Url: <input type="text" name="photo" value="<%=jaunt.photo%>"><br/>
			<input type="submit" value="submit"/>
		</form>

	</body>
</html>