<!DOCTYPE html>
<html>
	<head>
		<title><%=jaunt.title%></title>
	</head>
	<body>
		<nav>
			<a href='/'>Home</a> | <a href='/users'>User</a> | <a href='/jaunts'>Jaunts</a> | <a href="/favorites">Favorites</a>
		</nav>
			<div>
				<h1 id='jauntH1'><%=jaunt.title%></h1>
				<small id='jauntUser'>by <%=jaunt.user%></small><br/>
			<form method='POST' action='/favorites'>
				<input type="hidden" value='<%=jaunt._id%>' name="jauntId" />
				<button>Favorite</button></form> | 
					<a href="/jaunts/<%=jaunt._id%>/edit">Edit</a> | 
					<form method='POST' action='/jaunts/<%=jaunt._id%>?_method=DELETE'><button value='DELETE'>Delete</button></form> </p>
				<img src="<%=jaunt.photo%>" height=100 width=auto id='jauntPic' align='left'>
				<p id='jauntDesc' display=block><%=jaunt.description%></p><br/>
				<ul>
				<% for (let i = 0; i < jaunt.poi.length; i++){%>
					<li><%=jaunt.poi[i].title%></li>
				<%}%>
				</ul>
			</div><br/><br/><br/><br/><br/><br/>
		<div id='jauntMap'>
			Here's where the map of the jaunt will load
		</div>
			
		</form>
	</body>
</html>