<%- include ../header.ejs%>
<div class="home">
<div class="contentbox">
	<h1>Edit A New Point of Interest</h1>
	<form action='/jaunts/<%=jaunt._id%><%=poiIndex%>?_method=PUT', method='POST'>
		Title: <input type='text' name='title' value='<%=poi.title%>'><br/>
		Photo: <input type='text' name='photo' value='<%=poi.photo%>'><br/>
		Description: <input type='text' name='description' value='<%=poi.description%>'><br/>
		<input type='submit' value='Edit A New Point of Interest'>
	</form>
</div>
</div>
<%- include ../footer.ejs%>