<%- include ../header.ejs%>

<div class="home">
<div class="contentbox">

	<title>Point Of Interest Page</title>
	<h1><%=poi.title%></h1>
<div><p><%=poi.description%></p></div>
<div><img src="<%=poi.photo%>"></div>
<form action='/jaunts/<%=jaunt._id%>/<%=index%>?_method=DELETE' method='POST'>
	<button type='Submit'>Delete This Place of Interest</button>
</form>
</div>
</div>

<%- include ../footer.ejs%>