<%- include ../header.ejs%>


	<h1><%=user.username%>'s JAUNTE-E Profile</h1>
	<form action='/users/<%=user._id%>/edit'>
		<button type='Submit'>Edit Your Profile</button>
	</form>
	<form action='?_method=DELETE' method='POST'>
		<button type='Submit'>Delete Your Profile</button>
	</form>
	<a href='/users/logout'>Log Out</a>
	<h2>Jaunts</h2>
	<ul>
	<% for (let i =0; i < jaunts.length; i++){%>
		<a href="../jaunts/<%=jaunts[i]._id%>"><li><%=jaunts[i].title%></li></a>
	<%}%>
	</ul>

<%- include ../footer.ejs%>