<%- include ../header.ejs%>
<div class="home">
<div class="contentbox">

		<h1>Edit <%=jaunt.title%></h1>
		<form action='/jaunts/<%=jaunt.id%>?_method=PUT' method='post'>
			Title: <input type="text" name="title" value="<%=jaunt.title%>"/><br/>
			Google Map Url: <input type="text" name="location" value="<%=jaunt.location%>"/><br/>
			Photo Url: <input type="text" name="photo" value="<%=jaunt.photo%>"><br/>
			Description: <textarea name='description'><%=jaunt.description%></textarea>><br/>
			<input type="submit" value="submit" />
		</form>

		<br>
		<br>
		<h2>Add a Place of Interest to this Jaunt</h2>
		<form action='/poi', method='POST'>
			<input type='hidden' name='jauntId' value="<%=jaunt._id%>">
			Title: <input type='text' name='title'><br/>
			Photo: <input type='text' name='photo'><br/>
			Description: <input type='text' name='description'><br/>
			<input type='submit' value='Add A New Point of Interest'>
		</form>
</div>
</div>


<%- include ../footer.ejs%>